<div class="row">
    <div class="col-md-12">
        <img src="https://i.ytimg.com/vi/k5e1HPeusiA/hqdefault.jpg" alt="Krabby Patty" id="burger-pic">
        <h1>Eat-Da-Burger!</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        <h2>Burgers that are delicious and waiting to be eated!</h2>

        <ul class="left">
            {{#each burgers}}
                {{#unless this.devoured}}
                    <li>
                        <span class="burger-name">{{this.id}}. {{this.burger_name}}
                            <form action="burgers/update/{{this.id}}?_method=PUT" method="POST" class="eat-button">
                                <input type="hidden" name="devoured" value="true">
                                <button type="submit" class="btn">EAT ME!</button>
                            </form>
                        </span>
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col-md-6">
        <h2>Delicious burgers that have been eated!</h2>

        <ul class="right">
            {{#each burgers}}
                {{#if this.devoured}}
                    <li>
                        <span class="burger-name">{{this.id}}. {{this.burger_name}}</span>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="row">

    <h2>Add a Burger</h2>
    <form class="create-update-form" action="burgers/create" method="POST">

        <div class="form-group">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burger" name="burger_name">
        </div>

        <button type="submit" class="btn">Add Burger</button>
    </form>
</div>




